# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc

# ========================
# Node / React
# ========================
node_modules/
dist/
build/

# ========================
# Environment variables
# ========================
.env

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db
